/* p{
    position:static
} */
.box{
    display: inline-block;
    width:100px;
    height:100px;
    background-color:aqua;
    border:1px solid black;
}

#box1{
    position: fixed; 
    top:20px;  
}
#box2{
    position:absolute;
    left:50px;
    top:100px;
}
#box3{
    position:relative;
    left:200px;
    top:100px;
}
#box4{
    position:sticky;
    top:0px;
}
.outer-div{
    height:2000px;
    width:100vw;
    background-color: yellow;
}