html,body{
    height:100%;
    margin:0;
    background-color:blueviolet;
    
}
  .card-body{
    border:1px solid black;
    display:block;
    margin: px 0 0 0 ;
    background-color :black;


}
.card-border{
    display: block;
    margin :20px auto 20px auto;
    width:30%;
    height:375px;
    border:1px solid black;
    text-align: center;
    background-color :white;

}
.card{
    display: block;
    /* margin :20px auto 20px auto; */
    margin-top: 5px;
    border-radius:5px;
    height:350px;
    margin-left:5px;
    width:300px;
    /* border:1px solid black; */
    text-align: center;
    background-color :white;
}
img{
    height:60%;
    border-radius:5px;
}
.text{
    font-size: 25px;
    font-weight: 20px;
}
.tags{
    display:inline-flex;
    
}
#ap{
    margin:10px;
}
#p{
    margin: 10px;
    color:grey;
    text-decoration: line-through;
}
#disc{
    margin:10px;
    background-color: violet;
    color:white;
    border-radius:3px;
    padding: 5px;
}