*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

:root{
    --colorDark1:#112D4E;
    --colorDark2:#3f72AF;
    --colorLight3:#DBE2EF;
    --colorLight4:#F9F7F7;
}
.wrapper{
    width:100vw;
    height:100vh;
    color:var(--colorLight4);
    background-image: linear-gradient(160deg,#112d4e 0%,#3f72af 100%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top:20px
}
.tab-container{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 550px;
    width:90%;
    margin-top: 4rem;
}
.tab{
    padding:5px 8px;
    letter-spacing: 1.75px;
    font-size: 0.875rem;
    cursor:pointer;
}

.tab.current-tab{
    background-color:rgba(219,226,239,0.5);
    border-radius:4px;
}

.weather-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block:4rem;
}

.btn{ 
    all:unset;
    background-color:rgba(219,226,239,0.5); 
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 10px 30px;
}


.form-container.active{
    scale:1;
    opacity:1;
    display:flex;
}

