*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

:root{
    --colorDark1:#112D4E;
    --colorDark2:#3f72AF;
    --colorLight3:#DBE2EF;
    --colorLight4:#F9F7F7;
    
}
.wrapper{
    width:100vw;
    height:100vh;
    color:var(--colorLight4);
    background-image: linear-gradient(160deg,#112d4e 0%,#3f72af 100%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top:20px
}
.tab-container{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 550px;
    width:90%;
    margin-top: 4rem;
}
.tab{
    padding:5px 8px;
    letter-spacing: 1.75px;
    font-size: 0.875rem;
    cursor:pointer;
}

.tab.current-tab{
    background-color:rgba(219,226,239,0.5);
    border-radius:4px;
}

.weather-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block:4rem;
}

.btn{ 
    all:unset;
    background-color:rgba(219,226,239,0.5); 
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 10px 30px;
}

.sub-container{
    width:90%;
    margin:0 auto;
    max-width: 1000px;
    
    display:flex;
    flex-direction:column;
    align-items:center;

}

.grant-location-container{
    display: none;
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size:1.75rem;
    font-weight: 600;
}
.grant-location-container p:last-of-type{
    font-size:0.85rem;
    font-weight:500;
}

.loading-container{
    display:none;
}
.loading-container.active{
    display:flex;
}
.loading-container{
    text-transform: uppercase;
}

.user-info-container{
    display:none;
}
.user-info-container.active{
    display:flex;
}
 .name{
    display:flex;
    align-items: center;
    gap:0 0.5rem;
    margin-bottom:1rem;
}
.user-info-container p{
    font-size:1.5rem;
    font-weight:200;
}
.user-info-container img{
    width:90px;
    height:90px;
}

.name p{
    font-size: 2rem;
}
.name img{
    width:30px;
    height:30px;  
}  
.user-info-container p[data-temp]{
    font-size:2.75rem;
    font-weight:700;
}
/* .parameter-container{
    display:flex;
    gap:10px 20px;
    justify-content:center;
    margin-top:2rem;
} */
.parameter-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.parameter{
    width:40%;
    max-width:200px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 5px;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px 0;
    align-items: center;
}
/* .parameter{
    width: 30%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px 0;
} */
.parameter img{
    width:50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size:1.15rem;
    font-weight:600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size:1rem;
    font-weight:200;
}
.form-container.active{
    
    display:flex;
    width:90%;
    max-width: 550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap:0 10px;
    margin-bottom:3rem;
}
.form-container{
   display:none;
}
.form-container input{
    all:unset;
    width:calc(100% - 80px);
    height:40px;
    padding:0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius:10px;
}
.form-container input::placeholder{
    color:rgba(255,255,255,0.7);
}
.form-container input:focus{
    outline: 3px solid rgba(255,255,255,0.7);
}
.form-container .btn{
    padding:unset;
    width:40px;
    height:40px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}



