.container{
    border:2px solid red;
    background-color: brown;
    height:500px;
    display:grid;
    /* grid-template-columns: 250px 250px 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: 100px repeat(3,1fr);
    grid-template-columns:100px repeat(2,1fr) 200px; */
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows:30px 1fr 30px;
    gap:5px;
    /* overflow-y: hidden; */
    
  
 }
 .box{
     background-color:  aqua;
     border:2px solid black;
     /* width:80px;/ */
     /* height:80px; */
 }
 #box1,#box4{
    grid-column-start: 1;
    grid-column-end: 5;
 }
 #box2,#box3,#box5{
    grid-row-start: 2;
    grid-row-end: 4;
 }
 
